* {
  margin: 10
}

html, body {
  margin: 10;
}

.navibar {
  display: flex;
  justify-content: center;
}

/* 링크에 하이퍼링크 자동 적용되는 것 삭제 */
a:link {
  text-decoration: none;
}

footer {
  bottom: 0;
  text-align: center;
  padding: 20px;
}
